@import "tailwindcss";

@source not "./daisyui{,*}.mjs";

/* Import admin-specific styles */
@import "../stylesheets/admin.css";

/* Enable daisyUI + built-in themes */
@plugin "./daisyui.mjs" {
  themes: light --default, dark --prefersdark, corporate;
}

/* Optional: ONLY for custom themes you define yourself */
@plugin "./daisyui-theme.mjs" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-primary: #1b77ff;
  --color-primary-content: #ffffff;
  --color-secondary: #9c5de8;
  --color-secondary-content: #ffffff;
  --color-accent: #00d3bb;
  --color-accent-content: #f3fbf6;
  --color-neutral: #1e2832;
  --color-neutral-content: #fafcff;
  --color-info: #14b4ff;
  --color-info-content: #ffffff;
  --color-success: #17c964;
  --color-success-content: #ffffff;
  --color-warning: #f5a524;
  --color-warning-content: #150a00;
  --color-error: #f31260;
  --color-error-content: #ffffff;

  --color-base-100: #ffffff;
  --color-base-200: #eef0f2;
  --color-base-300: #dcdee0;
  --color-base-content: #1e2328;

  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --rounded-box: 0.25rem;
  --radius-selector: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --card-p: 20px;
  --card-fs: var(--text-base);

  --depth: 0;
  --noise: 0;
}

/** Container utility **/
@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
    @apply px-[1rem] sm:px-[1rem] md:px-[2rem] lg:px-[3rem] xl:px-[4rem] 2xl:px-[6rem];
}

html {
  @apply relative scroll-smooth;
}

body {
  @apply bg-base-100 text-base-content overflow-x-hidden;
}

:target {
  @apply scroll-m-12 lg:scroll-mt-0;
}

/* == Components == */

.btn {
  @apply font-medium;
}

/* == Forms == */

.fieldset {
  .fieldset-legend {
    @apply text-base-content/80 text-sm font-normal;
  }
}

.checkbox,
.radio,
.range,
.toggle {
  &:disabled {
    @apply opacity-35;
  }
}

.label {
  @apply text-base-content/80 cursor-pointer;
}

